{
    "singleQoute": false,
    "printWidth": 200,
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": true,
    "traillingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true
}