on:
  push:
  pull_request:

jobs:
  tsc:
    name: Building
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: install node v18
      uses: actions/setup-node@v1
      with:
        node-version: 18
    - name: Installing Dependencies
      run: npm install
    - name: Compiling Code
      uses: icrawl/action-tsc@v1
    - name : Zipping Files
      run: |
        # if zip is not found
        if [ ! -x "$(command -v zip)" ]; then
            sudo apt-get update && sudo apt-get install -y zip --no-install-recommends
        fi
        zip -r driverays-bot.zip Compiled
    - name: Release
      id: release
      uses: ncipollo/release-action@v1
      with: 
        prerelease: true
        body: "Build ini berdasarkan commit (${{ github.sha}})"
        allowUpdates: true
        replacesArtifacts: true
        generateReleaseNotes: false
        artifactErrorsFailBuild: true
        token: ${{ secrets.ACCESS_TOKEN }}
        name: "Build (${{github.sha}})"
        tag: "build"
        artifacs: "driverays-bot.zip"
